body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3; 
 }

/* Donation Header Section */
.yheader {
  
  
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 65px;
}

.ysection {
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center;
  font-style: oblique;
  font-size: 20px;
  padding: 10px;
}


/* Donation Section */
.ydonate{
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}
.ydonate a{
text-decoration: none;

}

.ydonate figcaption {
  text-align: center;
  padding: 15px;
  color: black;
  font-weight: bold;
}

.ydonate img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 3px #d3d3d3;
  box-shadow: 0 0 10px black;
}

.ydonate img:hover {
  
  transform: translateY(-8px);
}
/* Button Section */

.btns1 {
  border-top: solid 2px black;
  background: #d3d3d3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  }
  
  .btns1 a {
    text-decoration: none;
    color: white;
  }
  
  .btns1 a :hover {
  background: rgb(108, 192, 133);
  color: black;
  font-style: oblique;
  box-shadow: 0 0 3px black;
  }
  
  .btn1-1 {
    padding: 6px 30px 6px 30px;
    border-radius: 15px;
    background: white;
    color: black;
    border: solid 1px black;
    font-weight: bold;
    box-shadow: 0 0 3px black;
  }
  
  .btn1-2 {
    padding: 6px 25px 6px 25px;
    border-radius: 15px;
    background: white;
    color: black;
    border: solid 1px black; 
    font-weight: bold;
    box-shadow: 0 0 3px black;
  }