body {
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0; 
 background: #d3d3d3;
}

/* Fact1 Header */
.fact1{
 
  background-image: url(/pics/y1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 85px;
}

.bor1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 10px;
 
  color: #d3d3d3;
}

.bor2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 5px;
  border-bottom: solid 2px black;
  
  color: #d3d3d3;
}


/* Info1 Page */

.info1 {
  padding: 73px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;
}

.info1 div{
  background-color: rgb(108, 192, 133);
  color: white;
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;
  position: relative;
  top: 30px;
  padding: 20px;
  width: 50%;
  
}

.info1 p {
  color: black;
  transform: translateY(10%);
  font-weight: bold;
}

.info1 img {
  text-align: center;
  height: 250px;
  width: 400px;
  border: solid 1px black;
  position: relative;
  top: -30px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}


/* Buttons1 Page */

.btns1 {
border-top: solid 2px black;
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 10px;
}

.btns1 a {
  text-decoration: none;
  color: white;
}

.btns1 a :hover {
background: rgb(108, 192, 133);
color: black;
font-style: oblique;
box-shadow: 0 0 3px black;
}

.btn1-1 {
  padding: 6px 30px 6px 30px;
  border-radius: 15px;
  background: white;
  color: black;
  border: solid 1px black;
  font-weight: bold;
  box-shadow: 0 0 3px black;
}

.btn1-2 {
  padding: 6px 25px 6px 25px;
  border-radius: 15px;
  background: white;
  color: black;
  border: solid 1px black; 
  font-weight: bold;
  box-shadow: 0 0 3px black;
}
